html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: Open Sans, "Arial", "Helvetica", "sans-serif";
  overflow: auto;
}
body {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #02253e;
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
h2 {
  font-size: 25px;
  color: #02253e;
}
a {
  justify-content: center;
  margin: 1.5rem 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
span {
  font-weight: 600;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100% !important;
}
.welcome-container {
  width: 60%;
  margin: 0 350px;
  padding: 0 15px;
}
.dog-bg {
  height: 70.75rem;
  background-image: url("./images/Dog bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  position: relative;
  padding: 80px 20px;
}
.welcome {
  float: left;
  padding: 20px 20px 45px;
  width: 50%;
  box-shadow: 1px 0px 43px #524a3f;
  margin: 0;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
}
.welcome-text {
  margin: 30px;
  font-size: 16px;
  text-align: justify;
  line-height: 24px;
}
.form-group {
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}
.text-form {
  width: 100%;
  border: none;
  padding: 10px 5px 10px 0;
  outline: none;
}
p {
  margin: 0;
}
.form-btn {
  background-color: #0067b1;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 13.5px 45px;
  margin-top: 3rem;
  margin-bottom: 1em;
}
.form-btn:disabled {
  background-color: rgba(0, 103, 177, 0.7);
  cursor: not-allowed;
  opacity: 0.65;
}
.error {
  position: fixed;
  background-color: #f2dede;
  color: #a94442;
  z-index: 1000;
  font-weight: 700;
  font-size: 14px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.hide {
  display: none;
}
.section {
  width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
}
.progGroup {
  margin: 20px 0;
  overflow: hidden;
  height: 20px;
  background-color: #e1e1e1;
}
.progBar {
  transform: skewX(-45deg);
  background-color: #0067b1;
  height: 100%;
  float: left;
  transform-origin: 100% 0;
}
.offerBar {
  width: 11.11%;
}
.promo {
  color: #0067b1;
  font-size: 32px;
}
.paraPromo {
  margin: 0 0 10px;
  font-size: 14px;
}
.promoBox {
  float: left;
  margin-top: 22px;
  background: #eee;
  width: 50%;
  padding: 0;
  border-right: 2px dashed #666 !important;
  border-left: 2px dashed #666 !important;
  border-bottom: 2px dashed #666 !important;
}
.promoHead {
  padding: 10px;
  margin: -2px;
  border: 2px solid #0c4f80;
  background-color: #0067b1;
  font-size: 18px;
  color: #fff;
}
.offerHeadText {
  font-weight: bold;
}
.promoh2 {
  margin: 20px 0 10px;
  padding: 10px 30px;
}
.promoStuff {
  margin: 0 0 20px;
  padding: 10px 20px;
  font-size: 14px;
}
.terms {
  font-size: 14px;
  color: #767676;
  font-style: italic;
  font-weight: 400;
}
.cancel {
  color: #646464;
  cursor: pointer;
}
.smallify {
  width: 14px;
  height: 16px;
}
.greyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
  background-color: #eee;
  text-align: center;
}
.back-btn {
  background-color: #767676;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 13.5px 45px;
  margin-top: 3rem;
  margin-right: 25px;
  cursor: pointer;
  margin-bottom: 1em;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  overflow: auto;
}
.logIn-column {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.logIn-section {
  padding: 100px;
}
.logAlert {
  font-size: 14px;
  color: #666;
  margin-bottom: 40px;
}
.accountH3 {
  color: #666;
  font-size: 24px;
  cursor: pointer;
}
.accountDiv {
  display: flex;
  justify-content: space-evenly;
}
.blueify {
  color: #0067b1;
}
.form-col {
  width: 50%;
}
.col-1 {
  width: 90%;
  margin-bottom: 15px;
}
.col-2 {
  width: 90%;
  margin-bottom: 43.5px;
}
.panelHead {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #e5e5e5;
  border-color: #ddd;
  border-bottom: 1px solid transparent;
}
.offerPanel {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  border-color: #ddd;
}
.panelBody {
  padding: 15px;
}
p,
strong {
  font-size: 14px;
}
.select .panelBody {
  border: 2px solid #0067b1;
}
.select .panelHead {
  background-color: #0067b1;
  color: #fff;
}
.formTag {
  float: left;
  font-size: 12px;
  font-weight: normal;
}
.createError {
  color: #db2706;
  background-color: #ffedea;
  border: 1px solid #db2706;
  padding: 1em;
  width: 100%;
  text-align: left;
}
.scanDiv {
  border: 2px dashed #ccc;
  background-color: #eee;
  margin: 15px;
  padding: 30px;
  width: 50%;
  text-align: center;
  float: left;
}
.imageBtn {
  background-color: #022541;
  padding: 10px 20px;
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  width: 80%;
}
.btn-text {
  line-height: 12px;
  color: #767676;
  font-style: italic;
  margin-top: 1em;
}
.addImageTxt {
  width: 73%;
  text-align: left;
  float: left;
  padding: 0 15px;
  font-size: 14px;
}
.clinicSection {
  float: left;
  padding: 20px 20px 45px;
  width: 50%;
  box-shadow: 1px 0px 43px #524a3f;
  margin: 0;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  position: fixed;
  z-index: 100000;
}
.clinicZip {
  display: block;
  padding: 25px;
  margin: 1em 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.clinicGrid {
  background-color: #ddd;
  width: 100%;
  height: 45px;
}
.clinicCol {
  width: 40%;
  color: #464646;
  font-size: 14px;
  margin-top: 12px;
  float: left;
}
.clinicError {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.singleClinic {
  overflow: auto;
  border-bottom: 1px solid #ccc !important;
}
.selctedClinic {
  background-color: #c3daee;
}
.clinicGood {
  color: #12690f;
  background-color: #b2ceb4;
  border-color: #ebccd1;
}
.petBox {
  position: fixed;
  background-color: #f2dede;

  color: #a94442;
  z-index: 1000;
  font-weight: 700;
  font-size: 14px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.petForm {
  margin: auto;
  width: 75%;
}
input[type="file"] {
  display: none;
}
.petPic {
  border: 2px solid black;
  float: left;
  margin-bottom: 5px;
}
.petLabel {
  background-color: #022541;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  float: left;
}
.petGroup {
  overflow: auto;
}
.petP {
  float: left;
  color: #666;
  margin-right: 50px;
}
